<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>

<h1 class="d-flex justify-content-center text-light " style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">VEG - SOUP</h1>
    <!-- <div class="row border justify-content-between d-flex me-2">
        {% for i in menu_all_things %}
          {% if i.item_photo %}
          <img style="height: 220px;"  src="{{ i.item_photo.url }}" alt="{{ item.item_name }}">
          {% else %}
          <p class="text-center">No photo available</p>
          {% endif %}
          <h5 class="card-title p-2">{{ i.item_name }}</h5>
            
            <a  class="btn btn-primary me-2 ">${{ i.price }}</a>
            <a href="" class="btn btn-primary ">Offer ${{ i.offer_price }}</a>

             <form method="post" action="{% url 'delete_menu' i.id %}" class="d-inline">
                {% csrf_token %}
                <input type="submit" value="delete" class=" btnbtn-danger" >
             </form>
        {% endfor %}
      <br>
    </div> -->

    <div class="container ">
      <div class="row gy-4">
        {% for i in menu_all_things %}
         <div class="col-md-3  ">
          <div class="card">
            {% if i.item_photo %}
            <img style="height: 220px;"  src="{{ i.item_photo.url }}" alt="{{ item.item_name }}">
             <h1>{{ i.id }}</h1>
            {% else %}
            <p class="text-center">No photo available</p>
            {% endif %}
            <h5 class="card-title p-2">{{ i.item_name }}</h5>
            <div class="card-body  flex-row d-flex">
              
              <a  class="btn btn-primary me-2 ">${{ i.price}}</a>
              <a href="" class="btn btn-primary ">Offer ${{ i.offer_price }}</a>
              
            </div>
            <div class="card-body  flex-row d-flex">
            <form  method="post" action="{% url 'delete_menu' i.id %}" class="d-inline me-2">
              {% csrf_token %}
             <input type="submit" value="delete" class=" btnbtn-danger" >
           </form>

           <form method="post" action="{% url 'update_things' i.id %}" class="d-inline">
            {% csrf_token %}
           <input type="submit" value="update" class=" btnbtn-danger" >
           </div>
          </div>
         </div>
        {% endfor %}
      </div>
    </div>
    




</body>
</html>