{% extends 'html2/base.html' %}
{% load static %}

{% block title %}
Contact
{% endblock %}

{% block comment %}

<style>
    *{
        margin: 0;
        scroll-behavior: smooth; 
        overflow: hidden;
    }
</style>
<link rel="stylesheet" href="{% static '/css2/contact_side_css.css'%}">
<div class="col-md-12 row">
<section id="contact_main1" class="col-md-6">Welcome to Home Page</section>
<section id="contact_main2" class="col-md-6">Welcome to Home Page5678</section>
</div>
{% endblock %}