{% extends 'html2/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block comment %}

<style>
    *{
        margin: 0;
        scroll-behavior: smooth; 
    }
</style>
<link rel="stylesheet" href="{% static '/css2/home_side_css.css'%}">

<section id="list-item-1" class="sticky-section">Welcome to Home Page</section>
<section id="list-item-2" class="sticky-section">About Us Section</section>
<section id="list-item-3" class="sticky-section">Our Services Section</section>
<section id="list-item-4" class="sticky-section">Contact Us Section</section> 
{% endblock %}
