body{
    margin: 0;
    padding: 0;
    height: 80vh;
    background-image: url('../photo2/contact_bgimage.jpg'); 
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth; 
}
#text_contact_{
  height:20vh ;
  }
#contact_main1{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #contact_main1_img {
    margin: 0;
    height: 50vh;
   
    border-radius: 20px;
  }
/* .sticky-section {
    top: 0;
    height: 80vh;
  } */